version: "3.9"

services:

  web:
    env_file:
    - .env
    build:
      context: .
      dockerfile: Web/Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - db
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      DOTNET_RUNNING_IN_CONTAINER: "true"
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}"
    restart: always

  db:
    image: postgres:16
    container_name: taskmanager-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
